// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.ubs-item {
  font-style: italic;
}
.ubs-sub {
  margin-left: 1em;
}
.ub-title {
  margin-bottom: 1em;
  font-weight: bold;
  color: darkgray;
  font-size: large;
}
.ub-undefined {
  margin-bottom: 1em;
  color: darkgrey;
}
.ub-principe {
  margin-bottom: 1em;
  font-weight: bold;
  color: black;
}
ub-rules {
  margin-bottom: 1em;
  display:list-item;
}

